<configuration><serverHost>localhost</serverHost><port>8983</port><core>new_core</core><solrPath>solr</solrPath><crawlStorageFolder>/data/crawl/root</crawlStorageFolder><numberOfCrawler>1</numberOfCrawler><crawlers><crawler><maxPagesToFetch>1000000</maxPagesToFetch><maxDepth>-1</maxDepth><maxTimeoutConnection>10000</maxTimeoutConnection><maxTimeoutSocket>10000</maxTimeoutSocket><includeBinary>1</includeBinary><individualFolder>crawler2</individualFolder><domainSeeders>	
	<seeder>https://vi.wikipedia.org/wiki/C%C3%B4ng_ngh%E1%BB%87</seeder>
	<seeder>https://vi.wikipedia.org/</seeder></domainSeeders><concurrentThreads>5</concurrentThreads><delay>1000</delay><crawlersDomain><domain>https://vi.wikipedia.org/</domain></crawlersDomain></crawler><crawler><maxPagesToFetch>1000000</maxPagesToFetch><maxDepth>-1</maxDepth><maxTimeoutConnection>10000</maxTimeoutConnection><maxTimeoutSocket>10000</maxTimeoutSocket><includeBinary>1</includeBinary><individualFolder>crawler1</individualFolder><domainSeeders>	
	<seeder>http://www.ics.uci.edu/</seeder>
	<seeder>http://www.cnn.com/</seeder>
	<seeder>http://www.ics.uci.edu/~lopes/</seeder>
	<seeder>http://www.cnn.com/POLITICS/</seeder></domainSeeders><concurrentThreads>5</concurrentThreads><delay>1000</delay><crawlersDomain><domain>http://www.ics.uci.edu/</domain>
	<domain>http://www.cnn.com/</domain></crawlersDomain></crawler></crawlers></configuration>